@using SignalRDemoBlazor.Client.Components.Buttons
@using SignalRDemoBlazor.Client.Components.Modals
<div class="row p-2 bg-secondary bg-opacity-25">
    <div class="col-lg-2">
        <h3 style="@GetStyle()">Welcome @UserName</h3>
    </div>
    @if (MayEnable)
    {
        <div class="col-lg-1 offset-lg-2">
            <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" @onclick="Enable">
            <label class="btn btn-outline-success btn-outline-white" for="success-outlined">SignalR On</label>
        </div>
        <div class="col-lg-1">
            <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off" checked @onclick="Disable">
            <label class="btn btn-outline-danger btn-outline-white" for="danger-outlined">SignalR Off</label>
        </div>
    }
    else
    {
        <div class="col-auto offset-lg-3"></div>
    }
    @if (SignalRService.Disabled)
    {
        <div class="col-lg-auto">
            <Button Item="RefreshButton"/>            
        </div>
    }
    @if (SignalRService.AmHost && MayEnable)
    {
        <div class="col-lg-auto">
            <Button Item="StartQuizButton" />
        </div>
        <div class="col-lg-auto">
            <Button Item="ResetButton" />
        </div>
    }
    @if (SignalRService.AmHost && !MayEnable)
    {
        <div class="col-lg-auto">
            <Button Item="ActivateSignalRButton" />
        </div>
    }
</div>
<div class="row p-4">
    <div class="col-lg-8">
        <ChatWindow
            UserName="@UserName"
            Group="@Group"/>
    </div>
    <div class="col-lg-4">
        <MessageWindow @ref=MessageWindow />
    </div>    
</div>
@if (CurrentQuestion is not null)
{
    <Modal 
    ModalId="question-modal"
    @ref=QuestionModal
    ModalSize="@ModalSize"
    Draggable=true
    UserCannotClose=true>
        <ModalTitle>
            <h4>@CurrentQuestion.Subject</h4>
        </ModalTitle>
        <ModalBody>
            <h5>@CurrentQuestion.QuestionText</h5>
            @if (CurrentQuestionStarted)
            {
                @foreach (var answer in CurrentAnswerOptions)
                {
                    <div class="p-1">
                        <Button Item="@answer" />
                    </div>
                }
            }
        </ModalBody>
        <ModalFooter>
            <progress class="w-100" value="@CurrentQuestionProgress" max="@CurrentQuestionMaxProgress" />
            @if (SignalRService.AmHost && !CurrentQuestionStarted)
            {
                <Button Item="StartQuestionButton"/>
            }
        </ModalFooter>
    </Modal>
}
@if (Result is not null)
{
<Modal ModalId="answer-modal"
       @ref=AnswerModal
       ModalSize="@ModalSize"
       Draggable=true>
    <ModalTitle>
        <h4>Antwoord</h4>
    </ModalTitle>
    <ModalBody>
        <h5>Het goede antwoord was: @Result.CorrectAnswer</h5>
        @if (Result.Quickest is not null)
        {
            <div>Snelste antwoord: @Result.Quickest.Name (@Result.Quickest.Group)</div>
        }
        else
        {
            <div>Helaas! niemand had de vraag goed.</div>
        }
        
        <div>
            <b>Scores</b>
        </div>
        @foreach(var score in Result.Scores)
        {
            @if (IsWinner(score))                
            {
                <div>
                    <h3>
                        @score.Group: @score.TotalScore punten
                        <i class="bi bi-trophy"></i>
                    </h3>
                </div>
            }
            else
            {
                <div>@score.Group: @score.TotalScore punten</div>
            }
        }
    </ModalBody>
    <ModalFooter>
            @if (SignalRService.AmHost && !LastQuestion)
            {
                <Button Item="StartQuizButton"/>
            }
    </ModalFooter>
</Modal>
}
<Modal ModalId="refresh-modal"
       @ref=RefreshModal
       ModalSize="@ModalSize"
       Draggable=true
       UserCannotClose=true
       HideOverflow=true>
    <ModalTitle>
        <h4>Refreshing</h4>
    </ModalTitle>
    <ModalBody>
        <h5>Loading...</h5>
        <div class="loading text-center">
            <i class="bi bi-hourglass-split h1 opacity-75"></i>
        </div>
    </ModalBody>
</Modal>